body {
    background-position: fixed;
    background-image: url("https://cdn.statically.io/img/wallpapercave.com/wp/wp1913728.jpg");
    background-size: 1500px;
    font-family: 'Exo', sans-serif;
}

.col-6 {
    background-color: white;
    border-style: double;
    border-width: 5px;
    border-color: rgba(71, 5, 102, 0.849);
}

.navbar-brand {
    font-family: 'Exo', sans-serif;
    font-size: 30px;

}

.row {
    margin-bottom: 10px;
}

.col-8 {
    background-color: white;
    padding: 10px;
}

